<div>
    <table class="center" border="1">
        <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Marks</th>
            <th>Remarks</th>
        </tr>
        <tr>
            <td>{{student1.rollNo}}</td>
            <td>{{student1.name}}</td>
            <td>{{student1.marks}}</td>
            <td>{{student1.marks | remarks}}</td>
        </tr>
        <tr>
            <td>{{student2.rollNo}}</td>
            <td>{{student2.name}}</td>
            <td>{{student2.marks}}</td>
            <td>{{student2.marks | remarks}}</td>
        </tr>
        <tr>
            <td>{{student3.rollNo}}</td>
            <td>{{student3.name}}</td>
            <td>{{student3.marks}}</td>
            <td>{{student3.marks | remarks}}</td>
        </tr>
    </table>
</div>
