<div>
    <h2>Employee Registration Form</h2> <hr/>
    <form #employeeForm = "ngForm" (ngSubmit) = "save(employeeForm.value)">
        <div class="row">
            <div class="col-2">
                Enter Id
            </div>
            <div class="col-4">
                <input type="number" name="id" [(ngModel)] = "id" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Enter Name
            </div>
            <div class="col-4">
                <input type="text" name="name" [(ngModel)] = "name" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Select DOB
            </div>
            <div class="col-4">
                <input type="date" name="dob" [(ngModel)] = "dob" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input type="submit" name="Register" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>