<div>
    <button class="btn btn-primary" (click) = "refresh()">Refresh</button>
    <table *ngIf = "employees" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DOB</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let e of employees">
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
                <td>{{e.dob}}</td>
            </tr>
        </tbody>
    </table>
</div>