<div class="container-fluid">
  <h1 class="text-center">Angular Framework</h1><hr/>
  
  <div class="row container">
    <div class="col-2">
      <a routerLink = "register" class="btn btn-primary">Register</a>
    </div>
    <div class="col-2">
      <a routerLink = "user-details" class="btn btn-primary">Users</a>
    </div>
    <div class="col-2">
      <a routerLink = "employee-details" class="btn btn-primary">Employees</a>
    </div>
    <div class="col-2">
      <a routerLink = "login" class="btn btn-primary">Login</a>
    </div>
  </div>
  <hr/>
    <div>
      <router-outlet></router-outlet>
    </div>
</div>