<div class="container-fluid">
    <h2>Angular Forms - Template Driven Form</h2> <hr/>
    <form #userForm = "ngForm" (ngSubmit) = "handleFormValues(userForm.value)">
        <label>
            Enter Username <input type="text" name = "user" [(ngModel)] = "username" #un = "ngModel" required autocomplete="off" class="form-control">
            <div class="alert alert-danger" [hidden] = "un.valid || un.pristine">Username is mandatory</div>
        </label>
        <br/>
        <label>
            Enter Password <input type="password" name="pass" [(ngModel)] = "password" #pw = "ngModel" required class="form-control">
            <div class="alert alert-danger" [hidden] = "pw.valid || pw.pristine">Password is mandatory</div>
        </label>
        <br/>
        <label>
            Enter Phone No <input type="number" name="phone" [(ngModel)] = "phone" #ph = "ngModel" required class="form-control">
            <div class="alert alert-danger" [hidden] = "ph.valid || ph.pristine">Phone Number is mandatory</div>
        </label>
        <br/>
        <input type="submit" value="Submit" [disabled] = "userForm.invalid" class="btn btn-primary">
    </form>

    <h3>
        Username pristine: {{un.pristine}}, Valid: {{un.valid}}, Value: {{un.value}} <br/>
        Password pristine: {{pw.pristine}}, Valid: {{pw.valid}}, Value: {{pw.value}} <br/>
        Phone pristine: {{ph.pristine}}, Valid: {{ph.valid}}, Value: {{ph.value}} <br/>
        Submit Valid: {{userForm.valid}}, Invalid: {{userForm.invalid}}
    </h3>
</div>